/* GLOBAL STYLE */

@font-face {
    font-family: "Quicksand_Light";
    src: url("../resources/fonts/Quicksand_Light.woff");
}

@font-face {
    font-family: "Raleway-Regular";
    src: url("../resources/fonts/Raleway-Regular.woff");
}

@font-face {
    font-family: "roboto-regular";
    src: url("../resources/fonts/roboto-regular.woff");
}

@font-face {
    font-family: "Simplifica";
    src: url("../resources/fonts/Simplifica.ttf");
}

@font-face {
    font-family: 'BenchNine';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/benchnine/v9/ahcev8612zF4jxrwMosT6-xhgmy4.ttf) format('truetype');
}

:root {
    --OFFWHITE: #EEEEEE;
    --DARKGREY: #101010;
    --MIDGREY: #151515;
    --LIGHTGREY: #202020;
    --BLACK: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Quicksand_Light', sans-serif;
    color: var(--OFFWHITE);
    overflow-x: auto !important;
}

body {
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--MIDGREY), var(--LIGHTGREY));
    background: radial-gradient(circle closest-corner at center 350px, rgba(53, 53, 53, 0.5), var(--DARKGREY) 85%), url("../resources/images/background.jpg") no-repeat center fixed;
    background-color: black;
    background-size: cover;
    overflow-x: hidden !important;
}

section {
    padding: 3rem 0 0 0;
}

a {
    text-decoration: none;
    color: #eeeeee;
}

p {
    font-size: 1.8rem;
    font-weight: 300;
}

img {
    width: 100%;
}

.container {
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.heading,
.heading-small {
    text-align: center;
}

.heading {
    margin: 10rem 0 0 0;
}

.heading-small {
    margin-bottom: 5rem;
}

.heading h1,
.heading-small h1 {
    font-size: 3.5rem;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;
}

.heading h1::before,
.heading-small h1::before {
    content: '';
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f39c12;
    width: 10rem;
    height: 3px;
    border-radius: 0.8rem;
    opacity: 0.6;
}

.rightside {
    margin-right: 5rem;
}

::-webkit-scrollbar {
    width: 0.5rem;
    background-color: #f39c12;
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #f39c12;
    box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 1);
}

::-webkit-scrollbar-track {
    border-radius: 0.8rem;
    background-color: #202020;
    box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 1);
}

::selection {
    background: #FDC830;
    color: black;
}


/* NAV BAR */

header {
    width: 100%;
    height: 100vh;
}

.navbar {
    width: 100%;
    height: 100vh;
    position: fixed;
    right: -200vh;
    top: -100vh;
    z-index: 50;
    background-color: #101010;
    border-bottom-left-radius: 900%;
    opacity: 0;
    transition: all 650ms cubic-bezier(1, 0, 0, 1);
}

.list {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    margin-left: 2rem;
    margin-right: 2rem;
}

.link {
    font-family: 'Quicksand_Light', sans-serif;
    font-size: 4rem;
    padding: 1rem;
    font-weight: bolder;
}

.link:hover,
.link:focus {
    background: linear-gradient(to top, #FDC830, #F37335);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav li:hover {
    animation: rubberBand 1s;
}

.navbar.open {
    right: 0;
    top: 0;
    border-radius: initial;
    opacity: 0.95;
}

.menu {
    position: absolute;
    top: 5rem;
    right: 5rem;
    width: 5rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1000;
    opacity: 1;
    transition: transform 650ms ease-in-out;
}

.menu.open {
    transform: rotate(-45deg);
}

.line {
    background: linear-gradient(to right, #FDC830, #F37335);
    width: 100%;
    height: 4px;
    border-radius: 1.5rem;
}

.line.half {
    width: 50%;
}

.line.start {
    transform-origin: right;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .line.start {
    transform: rotate(-90deg) translateX(0.8rem);
}

.line.end {
    align-self: flex-end;
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .line.end {
    transform: rotate(-450deg) translateX(-0.8rem);
}


/* LANDING PAGE TEXT */

.name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 1;
    padding: 1rem;
}

.name h1 {
    font-size: 10rem;
    font-family: 'Syncopate', sans-serif;
    background: #ababab no-repeat;
    color: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
    font-weight: 100;
    cursor: context-menu;
    text-transform: uppercase;
    transition: 500ms ease-in-out;
    margin-bottom: 1.5rem;
}

.name h1::before {
    content: '';
    position: absolute;
    bottom: 10rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f39c12;
    opacity: 0.7;
    width: 30rem;
    height: 5px;
    border-radius: 0.8rem;
    opacity: 0.6;
    margin: 1rem 0;
}


/* .name h6 {
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: uppercase;
    background: radial-gradient(circle farthest-corner at center center, #cccccc, #333333) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

@keyframes toLeft {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.button {
    text-align: center;
}

.button button {
    margin: 0 1rem;
    background: none;
    width: 14rem;
    height: 5rem;
    border-radius: 1rem;
    border-color: rgba(243, 156, 18, 0.7);
    font-size: 1.8rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    overflow: hidden;
}

.button button:hover {
    cursor: pointer;
    animation: rubberBand 1s;
}

button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -10%;
    width: 0;
    height: 100%;
    background-color: rgba(243, 156, 18, 0.7);
    z-index: -1;
    border-radius: 1.5rem;
    transform: skewX(25deg);
    transition: background-color 0.7s;
    transition: width .5s
}

button:hover::before {
    width: 120%;
}

.socialmedia {
    margin-top: 6rem;
}

.socialmedia i {
    font-size: 5rem;
    transition: color 650ms;
}

.socialmedia i:hover {
    color: #ffbb4f;
    animation: rubberBand 1s;
}


/* ABOUT PAGE STYLE */

.about .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header {
    font-family: "roboto-regular", sans-serif;
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 6rem;
}

.header h1 {
    font-size: 10rem;
    text-align: center;
    color: #ccc;
    opacity: .4;
}

.header h6 {
    font-size: 2rem;
    text-align: center;
    color: #ccc;
}

.aboutme {
    flex: 1;
}

@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }
    30% {
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        transform: scale3d(.95, 1.05, 1);
    }
    75% {
        transform: scale3d(1.05, .95, 1);
    }
    to {
        transform: scale3d(1, 1, 1);
    }
}

.my_name {
    font-size: 3.5rem;
}


/* SKILLSET */

.wrapper {
    width: 270px;
    margin: 10rem auto;
    position: Relative;
}

.word {
    display: block;
    text-align: center;
    font-family: "BenchNine";
    line-height: 0.8;
    text-transform: uppercase;
    letter-spacing: 0px;
}

.word1,
.word2 {
    color: #ffbb4f;
}

.word3,
.word4 {
    color: #F37335;
}

.word5,
.word6 {
    color: #ffbb4f;
}

.word7,
.word8 {
    color: #F37335;
}

.word1 {
    font-size: 5.3em;
}

.word2 {
    font-size: 7.1em;
}

.word3 {
    font-size: 6.8em;
}

.word4 {
    font-size: 6.4em;
}

.word5 {
    font-size: 6.8em;
}

.word6 {
    font-size: 6em;
}

.word7 {
    font-size: 6.5em;
}

.word8 {
    font-size: 4.8em;
}

.bubble1 {
    height: 130px;
    width: 185px;
    padding: 10px 20px;
    position: absolute;
    color: var(--BLACK);
    background-color: #ffbb4f;
    font-family: "roboto-regular";
    border-top-left-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 20px;
    top: 0;
    left: -200px;
    font-size: 2.2rem;
    line-height: 1;
}

.bubble1 span.the-arrow1 {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 16px solid transparent;
    border-right: 0px solid #ffbb4f;
    border-bottom: 16px solid #ffbb4f;
    position: absolute;
    top: 63px;
    left: 185px;
    transform: rotateY(180deg);
}

.bubble2 {
    height: 100px;
    width: 220px;
    padding: 10px 20px;
    position: absolute;
    color: var(--BLACK);
    background-color: #F37335;
    font-family: "roboto-regular";
    border-top-left-radius: 30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 0;
    left: 120%;
    top: 80px;
    font-size: 2.2rem;
}

.bubble2 span.the-arrow2 {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 0px solid #F37335;
    border-bottom: 20px solid #F37335;
    position: absolute;
    top: 80px;
    left: -19px;
}

.bubble3 {
    height: 140px;
    width: 250px;
    padding: 20px;
    position: absolute;
    color: var(--BLACK);
    background-color: #ffbb4f;
    font-family: "roboto-regular";
    border-top-left-radius: 30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 0;
    top: 290px;
    left: -280px;
    font-size: 2.2rem;
}

.bubble3 span.the-arrow3 {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 0px solid #ffbb4f;
    border-bottom: 20px solid #ffbb4f;
    position: absolute;
    top: 0;
    left: 250px;
    transform: rotate(180deg);
}

.bubble4 {
    height: 210px;
    width: 250px;
    padding: 15px 20px 10px 20px;
    position: absolute;
    color: var(--BLACK);
    background-color: #F37335;
    font-family: "roboto-regular";
    border-top-left-radius: 30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 0;
    top: 280px;
    left: 280px;
    font-size: 2.2rem;
}

.bubble4 span.the-arrow4 {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 0px solid #F37335;
    border-bottom: 20px solid #F37335;
    position: absolute;
    top: 190px;
    left: -19px;
}

.response {
    display: none;
    text-align: center;
    font-family: 'roboto-regular', 'sans-serif';
    margin-top: 1rem;
    font-size: 2rem;
    letter-spacing: 2px;
}


/* WORK EXPERIENCE */

.timeline ul {
    padding: 50px 0;
    color: var(--LIGHTGREY);
}

.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: var(--OFFWHITE);
}

.timeline ul li::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
    z-index: 1;
}

.timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    background: #f39c12;
}

.timeline ul li div::before {
    content: "";
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
}

.timeline ul li:nth-child(odd) div {
    left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #f39c12 transparent transparent;
}

.timeline ul li:nth-child(even) div {
    left: -439px;
}

.timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #f39c12;
}

time {
    display: block;
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 16px;
}

.timeline .title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.timeline .description {
    font-size: 2rem;
    font-weight: bold;
    color: var(--BLACK);
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li.in-view::after {
    background: #f39c12;
}

.timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
    .timeline ul li div {
        width: 250px;
    }
    .timeline ul li:nth-child(even) div {
        left: -289px;
        /*250+45-6*/
    }
}

@media screen and (max-width: 600px) {
    .timeline ul li {
        margin-left: 20px;
    }
    .timeline ul li div {
        width: calc(100vw - 91px);
    }
    .timeline ul li:nth-child(even) div {
        left: 45px;
    }
    .timeline ul li:nth-child(even) div::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent #f39c12 transparent transparent;
    }
}


/* EXTRA/CLIP PATH STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline-clippy ul li::after {
    width: 40px;
    height: 40px;
    border-radius: 0;
}

.timeline-rhombus ul li::after {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.timeline-rhombus ul li div::before {
    bottom: 12px;
}

.timeline-star ul li::after {
    clip-path: polygon( 50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.timeline-heptagon ul li::after {
    clip-path: polygon( 50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}

.timeline-infinite ul li::after {
    animation: scaleAnimation 2s infinite;
}

@keyframes scaleAnimation {
    0% {
        transform: translateX(-50%) scale(1);
    }
    50% {
        transform: translateX(-50%) scale(1.25);
    }
    100% {
        transform: translateX(-50%) scale(1);
    }
}


/* PROJECTS */

.project-card {
    padding: 100px 0;
}

.card-container {
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.col {
    width: 50%;
    overflow: hidden;
    padding: 15px;
}

.col .card {
    width: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.col img {
    width: 100%;
    height: auto;
    border: 0;
}

.col .card-body {
    padding: 0 35px 35px 35px;
    background-color: black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.card-body h5 {
    font-size: 4rem;
    margin: 7px 0;
}

.card:hover {
    transform: translateY(-10px);
    transition: transform 0.3s ease;
}

.card p {
    color: white;
    text-align: justify;
    font-size: 2.2rem;
}

.tools span,
.tools span a {
    color: #F37335;
}

@media(max-width: 995px) {
    .col {
        width: 100%;
    }
}


/* CONTACT STYLE */

.contactform {
    background-color: #181818;
    overflow-x: hidden;
}

form {
    width: 70%;
    margin: 0 auto;
    overflow-x: hidden;
}

form label {
    font-size: 2rem;
}

input,
select,
textarea {
    width: 100%;
    padding: 1rem;
    margin: 1rem 0 2rem 0;
    border: none;
    outline-color: #feada6;
}

input[type="submit"] {
    width: initial;
    background-color: #f39c12;
    color: #000000;
    margin-top: 1rem;
    padding: 1rem 2rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: background-color 650ms;
    font-weight: bold;
}

input[type="submit"]:hover {
    color: #eeeeee;
    background-color: #F37335;
    font-weight: bold;
    animation: rubberBand 1s;
}


/* FOOTER STYLE */

.footer {
    width: 100%;
    text-align: center;
    background-color: #121212;
    padding: 2rem 0;
    position: relative;
}

.backtotop {
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #eee;
    top: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 2s infinite;
    cursor: pointer;
}

.backtotop i {
    color: #020202;
    font-size: 2rem;
    margin: auto;
}

.footer p {
    font-size: 2rem;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 187, 79, 0.99);
    }
    70% {
        box-shadow: 0 0 0 2rem rgba(255, 187, 79, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 187, 79, 0);
    }
}


/* INTRO ANIMATION */

.intro {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.intro-text-container {
    color: #f39c12;
    font-family: "BenchNine", sans-serif;
    font-size: 3rem;
    opacity: .7;
}

.slider {
    background: #111111;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    z-index: 10000;
}

.hide {
    background: black;
    overflow: hidden;
}

.hide span {
    transform: translateY(100%);
    display: inline-block;
}


/* RESPONSIVE */

@media screen and (max-width: 995px) {
    .about .container {
        flex-direction: column;
    }
    .link {
        font-size: 2.8rem;
    }
    .bubble1,
    .bubble2,
    .bubble3,
    .bubble4 {
        display: none;
    }
    .response {
        display: block;
    }
    .intro-text-container {
        font-size: 2.5rem;
    }
}


/* TABLET */

@media screen and (max-width: 768px) {
    .name h1 {
        font-size: 9rem;
    }
    .name h6 {
        font-size: 2.3rem;
    }
    .name h1::before {
        height: 3px;
    }
    .list i {
        font-size: 2rem;
        padding: 0 2rem;
    }
    li {
        margin: 2rem 0;
    }
    .link {
        font-size: 3rem;
    }
    .header {
        margin-bottom: 3rem;
    }
    .button button {
        width: 10.5rem;
        height: 5rem;
        font-size: 1.2rem;
    }
    .socialmedia {
        margin-top: 3rem;
    }
    .socialmedia i {
        font-size: 4rem;
        transition: color 650ms;
    }
    .intro-text-container {
        font-size: 2rem;
    }
}


/* X-SMALL SCREENS */


/* MOBILE */

@media screen and (max-width: 600px) {
    .menu {
        top: 2rem;
        right: 2rem;
    }
    .name h1 {
        font-size: 4.5rem;
    }
    .name h6 {
        font-size: 1.8rem;
    }
    .name h1::before {
        height: 3px;
        top: 5.5rem;
    }
    .list i {
        /* font-size: 2rem; */
        padding: 0 2rem;
    }
    .link {
        font-size: 1.5rem;
    }
    .about .container .img {
        padding-right: 0rem;
    }
    .header h1 {
        font-size: 8rem;
        margin-top: 2rem;
    }
    .socialmedia {
        margin-top: 3rem;
    }
    form {
        width: 100%;
    }
    .backtotop {
        right: 2rem;
    }
    .my_name {
        font-size: 3rem;
    }
    .intro-text-container {
        font-size: 1.5rem;
    }
}